.coinsList {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
  padding: 0 16px;
  margin: 56px auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 16px;
  margin: 0 auto;
}

.validBet {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
  margin: 20px 0;
}

.validBet__payout {
  opacity: 0.5;
  margin-left: 10px;
}
